:root {
  --cell-size: 55px;
  --border-width: 1pt;
  --outline-border-width: 2pt;
  --outline-border-color: #125;
  --border-color: darkgray;
  --product-square-color: #c82;
  --axis-square-color: yellow;
  --highlighted-axis-color: #bb0;
  --highlighted-offaxis-color: lightgray;
}

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  font-family: sans-serif;
  font-size: 16pt;
  text-align: center;
  grid-auto-columns: var(--cell-size);
  grid-auto-rows: var(--cell-size);
}

.Cell {
  position: relative;
  margin-right: calc(-1 * var(--border-width));
  margin-bottom: calc(-1 * var(--border-width));
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) solid var(--border-color);
  transition: background-color 0.4s;
}

.Cell.HighlightAxis {
  background-color: var(--axis-square-color);
}

.Cell.HighlightProduct {
  background-color: var(--product-square-color);
}

.Cell.HighlightMultiplier {
  background-color: var(--highlighted-axis-color);
}

.Cell.HighlightRowOrColumn {
  background-color: var(--highlighted-offaxis-color);
}

.HighlightOutline {
  border: var(--outline-border-width) solid var(--outline-border-color);
  margin-right: calc(-1 * var(--border-width));
  margin-bottom: calc(-1 * var(--border-width));
  z-index: 1;
  pointer-events: none;
}
